.card-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 20px;
    border-radius: 7px; /* This makes the corners rounded */
    background: linear-gradient(to bottom right, rgba(0, 0, 255, 0.8), rgba(255, 0, 255, 0.8));
    font: Arial, sans-serif;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.8); /* Add a white shadow */
  }

  .card-content {
    font-family: Arial, sans-serif; /* Change the font to Arial */
    font-size: 14px; /* Adjust the font size */
    line-height: 1.2; /* Adjust the line height to reduce spacing */
    color: white;
  }