.card-wrapper {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 7px; /* This makes the corners rounded */
    background: linear-gradient(to bottom right, rgba(0, 0, 255, 0.8), rgba(255, 0, 255, 0.8));
  }

  .card-content {
    font-family: Arial, sans-serif; /* Change the font to Arial */
    font-size: 14px; /* Adjust the font size */
    line-height: 1.2; /* Adjust the line height to reduce spacing */
    color: white;
  }