body {
    background-image: url('../public/images/bg/main_bg3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
  }



.main-container{
   display: flex;
   flex-direction: column; 
   align-items: center; 
}

.top-container{
  display: flex;
  justify-content: space-evenly;

}

