body {
    background-image: url('../public/images/bg/main_bg3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
  }

.main-container{
   display: flex;
   flex-direction: column; 
   align-items: center; 
}

.top-container{
  display: flex;
  justify-content: space-between;

}

.SearchBar, .Carousel {
  flex: 1; /* This ensures that SearchBar and Carousel take up equal width */
  margin: 0 10px; /* This adds some horizontal margin between the components */
}
